* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
font-size: 62.5%;
}
:root {
    --color-base: #fff;
    --color-base-2: #000000;
    /* --color-uno:#D93D66;
    --color-dos: #A61B81;
    --color-tres: #D932BD;
    --color-cuatro: #A5A4BF;  */
  /*   --blend-mode: normal; */
  --color-red:#E50914;
  --color-fondo:#141414;
}
body {
    width: 100%;
    min-height: 100vh;
    font-family: neue-haas-unica,sans-serif;
    font-weight: 400;
    font-style: normal;
    /* background-color: var(--color-fondo); */
    display: flex;
    align-items: center;
}
.container {
    max-width: 120rem;
    width: 90%;
    margin: auto;
}

/* PRINCIPAL-CONTAINER */
.principal-container {
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
  /*   background-color: #fff; */
}
.principal-container__image {
    vertical-align: top;
    margin-right: 2rem;
    width: 50%;
    max-width: 55.5rem;
}
.principal-container__container {
width: 50%;
}
.principal-container__title {
    font-weight: normal;
    font-size: 2.8rem;
    text-align: center;
   /*  color: #fff; */
}
.principal-container__resume {
    line-height: 2rem;
    /* color: #fff; */
    font-size: 1.2rem;
}

/* CAROUSEL */
.carousel__container {
    position: relative;
}
.carousel__previous,
.carousel__next {
    position: absolute;
    display: block;
    width: 3rem;
    height: 3rem;
    border: none;
    top: calc(50% - 3.5rem);
    cursor: pointer;
    line-height: 3rem;
    text-align: center;
    background: none;
    color: #fff;
    opacity: 20%;
}
.carousel__previous:hover,
.carousel__next:hover {
    opacity: 100%;
}
.carousel__previous {
    left: -3rem;
}
.carousel__next {
    right: -3rem;
}
.carousel__list {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel__element {
    text-align: center;
}
 .carousel__element img {
    width: 100%;
    vertical-align: top;
    width: 30rem;
    height: 15rem;
    object-fit: cover;
} 
.carousel__indicators .glider-dot:hover {
    opacity: .5;
}
.carousel__indicators .glider-dot:active{
    opacity: 1;
}

    /* RESPONSIVE */
@media screen and (max-width: 800px) {
    body {
        padding: 4rem 0;
    }
    .principal-container {
        flex-direction: column;
    }
    .principal-container > * {
        width: 100%;
    }
}