* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
:root {
    /* --color-base: #fff;
    --color-base-2: #000000;
    --color-uno:#D93D66;
    --color-dos: #A61B81;
    --color-tres: #D932BD;
    --color-cuatro: #A5A4BF; */
    --title-color: #333;
    --body-color: #696969;
    --background-color: #eee;
    --foreground-color: #fff;
    --blend-mode: normal;
}
body {
    width: 100%;
    height: 100vh;
    font-family: neue-haas-unica,sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--background-color);
    transition: background-color 1s;
}
.dark-theme {
    --title-color: #fff;
    --body-color: #afafafa;
    --background-color: #181621;
    --foreground-color: #211f2a;
    --blend-mode: lighten; 
}
section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5rem 0;
}
.toggle-btn {
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    border: 2px solid var(--body-color);
    display: flex;
    cursor: pointer;
    z-index: 9999;
}
.toggle-btn i {
    margin: auto;
    font-size: 2rem;
}
.container {
    width: 100%;
    max-width: 120rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}
.content {
    display: flex;
    background-color: var(--foreground-color);
    box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, .5);
}
.content-image {
    flex: 1;
}
.content-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: var(--blend-mode);
}
.content-text {
    flex: 1;
    padding: 5rem;
}
.title {
    font-size: 4rem;
    color: var(--title-color);
}
.subtitle {
 font-size: 1.4rem;
 text-transform: uppercase;
 font-weight: 400;
 margin: .5rem 0 5rem;
 color: var(--body-color);
}
.paragraph {
 margin-bottom: 1.5rem;
}
.cta {
    display: inline-block;
    text-decoration: none;
    border: 2px solid var(--body-color);
    padding: 1rem 2.5rem;
    margin-top: 2.5rem;
}