*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
:root {
    --color-base: #fff;
    --color-base-2: #e3e3e3e;
    --color-primario: #D95284;
    --color-secundario: #044BD9;
    --color-terciario: #F27E63;
}
body {
    width: 100%;
    height: 100vh;
    font-family: neue-haas-unica,sans-serif;
    font-weight: 400;
    font-style: normal;
}
header {
    width: 100%;
    height: 8rem;
    background-color: var(--color-primario);
}
nav {
    width: 100vw;
    height: 8rem;
}
 nav img {
    width: 18rem;
    height: 5rem;
    margin: 1rem 0 0 1rem;
} 
/* .globalwidth {
    width: 100%;
} */

/* Pseudo-clases */

/*  p:first-child {
    color: blue;
    font-size: 2rem;
}
p:last-child {
    color: green;
    font-size: 3rem;
} */
/* p:nth-child(1) {
    color: yellow;
    font-size: 4rem;
}
numero pares
p:nth-child(2n) {
    color: green;
    font-size: 4rem;
}
numero impar
p:nth-child(2n+1) {
    color: blue;
    font-size: 4rem;
} */

/* Pseudo-elementos
::before
::after */