* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
font-size: 62.5%;
}
:root {
    --color-base: #fff;
    --color-base-2: #000000;
    /* --color-uno:#D93D66;
    --color-dos: #A61B81;
    --color-tres: #D932BD;
    --color-cuatro: #A5A4BF;  */
  /*   --blend-mode: normal; */
  --color-red:#E50914;
  --color-fondo:#141414;
}
body {
    width: 100%;
    height: 100vh;
    font-family: neue-haas-unica,sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--color-fondo);
}
.container {
    width: 90%;
    margin: auto;
}
header {
    padding: 3rem 0;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--color-red);
}
header nav a {
    color:#aaa;
    text-decoration: none;
    margin-right: 2rem;
    font-size: 1.2rem;
}
header nav a:hover, 
header nav a.activo {
    color: #fff;
}

/* MOVIE-PRINCIPAL */
.principal-movie {
min-height: 45rem;
font-size: 1.6rem;
color: var(--color-base);
background: linear-gradient(rgba(0,0,0,.50%) 0%, rgba(0,0,0,.50)100%), url(../img/kyle-smith-4qYHqQqlwM4-unsplash.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
margin-bottom: 3rem;
display: flex;
align-items: end;
}
.principal-movie .container {
    margin: 0 auto;
    margin-bottom: 6rem;
}
.principal-movie .title {
    font-weight: 600;
    font-size: 3.6rem;
    margin-bottom: 0.4rem;
}
.principal-movie .description {
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.7rem;
    max-width: 50%;
    margin-bottom: 1.2rem;
}
.principal-movie .bottom {
    background-color: rgba(0,0,0, 0.5);
    border: none;
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    color: var(--color-base);
    margin-right: 1.2rem;
    cursor: pointer;
    transition: .3s ease all;
    font-size: 1.2rem;
}
.principal-movie .bottom:hover {
    background-color: #fff;
    color: #000;
}
.principal-movie .bottom i {
    margin-right: 1.2rem;
}

/* CAROUSEL1 */
.container-title-controls {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.container-title-controls h3 {
    color: #fff;
    font-size: 3rem;
}
.container-title-controls .indicators button {
    background-color: #fff;
    height: .3rem;
    width: 1rem;
    cursor: pointer;
    border: none;
    margin-right: .2rem;
}
.container-title-controls .indicators button:hover,
.container-title-controls .indicators button.activo {
    background-color: #E50914;
}

/* PRINCIPAL AND ARROW */
.movie-top {
    margin-bottom: 7rem;
}
.movie-top .principal-container {
    display: flex;
    align-items: center;
    position: relative;
}

.movie-top .principal-container .left-arrow,
.movie-top .principal-container .right-arrow {
    position: absolute;
    border: none;
    background: rgba(0,0,0, 0.3);
    font-size: 4rem;
    height: 50%;
    top: calc(50% - 25%);
    line-height: 4rem;
    width: 5rem;
    color: #fff;
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;
}
.movie-top .principal-container .left-arrow:hover,
.movie-top .principal-container .right-arrow:hover {
    background: rgba(0,0,0, 0.9);
} 
.movie-top .principal-container .left-arrow {
    left: 0;
}
.movie-top .principal-container .right-arrow {
    right: 0;
}

/* CAROUSEL */
.movie-top .container-carousel {
    width: 100%;
    padding: 2rem 0;
    overflow: hidden;
    scroll-behavior: smooth;
}
.movie-top .container-carousel .carousel {
    display: flex;
    flex-wrap: nowrap;
}
.movie-top .container-carousel .carousel .movie img {
    width: 100%;
    vertical-align: top;
    width: 40rem;
    height: 20rem;
}


/* MEDIA-QUERIES */
@media screen and (max-width: 800px) {
    header .logo {
     margin-bottom: 1rem;
     font-size: 3rem;
    }
    header .container {
        flex-direction: column;
        text-align: center;
    }
    .principal-movie {
        font-size: 1.4rem;
    }
    .principal-movie .description {
        max-width: 100%;
    }
    /* .movie-top .indicators,
.movie-top .left-arrow,
.movie-top .right-arrow {
    display: none;
} */
}
